#cloud-config

ssh_pwauth: False

hostname: ${hostname}
fqdn: ${fqdn}
manage_etc_hosts: true

timezone: Europe/Berlin

%{~ if length(packages) != 0 ~}
packages:
    %{~ for package in packages ~}
    - ${package}
    %{~ endfor ~}
%{~ endif ~}

users:
    - name: felix
      shell: /bin/bash
      sudo: ALL=(ALL) NOPASSWD:ALL
      ssh_authorized_keys:
        - ${ssh_id}

    - name: docker
      primary_group: docker
      shell: /bin/bash
      ssh_authorized_keys:
        - ${ssh_id}
        - ${ssh_backup_id}

disk_setup:
  /dev/vdb:
    table_type: 'mbr'
    layout: [100]
    overwrite: False

fs_setup:
  - label: data
    filesystem: ext4
    device: /dev/vdb1
    overwrite: False

mounts:
    - [ "/dev/vdb.1", "/opt/containers" ]
    %{~ for mount in mounts ~}
    - [ ${join(",", formatlist("\"%s\"", mount))} ]
    %{~ endfor ~}

write_files:
    # SystemD Drop in to make sure docker starts after mounts.
    # Mount without nofail does not seem to be enough.
    - path: /lib/systemd/system/docker.service.d/mount.conf
      content: |
        [Unit]
        RequiresMountsFor=/opt/containers %{for mount in mounts} ${ mount[1] } %{endfor}
    %{~ for file in files ~}
    - path: ${file.path}
      content: |
        ${indent(8, file.content)}
    %{~ endfor ~}
